@{
    ViewData["Title"] = "Home Page";
}
<h3>@ViewData["Title"]
<h4>Instructions:</h4>
<p>Change the URL to /pokemon/id... where the id is a pokemon id, you will get information on that Pokemon.</p>
<div>
    <!-- <h1>@ViewBag.CurrPokemon.Name</h1> -->
    <h3>Types:</h3>
    <ul>
    <!-- @foreach( var type in @ViewBag.CurrPokemon.Types)
    {
        <li>@type</li>
    }
    </ul>
    <h3>Height: @ViewBag.CurrPokemon.Height</h3>
    <h3>Weight: @ViewBag.CurrPokemon.Weight</h3> -->
</div>